body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

.header {
	display: flex;
	justify-content: space-between;
	background: #1c3643;
}

.cont-boton-header {
	display: flex;
	align-items: center;
}

.boton-principal {
	border-style: none;
	border-radius: 8px;
	padding: 7px 12px;
	margin-right: 10px;
	color: white;
	cursor: pointer;
	text-decoration: none;
	font-size: 16px;
	background: #fd324e;
}

.trans-boton-inicio:hover {
	transition: .3s;
	font-size: 20px;
	font-weight: 800;
}

.logotipo {
	padding: 10px;
	margin: 0px;
}