body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-color: white;
  min-height: 100vh; 
  margin: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
}
header {
  height: 50px;
  background: #273b47;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
header a {
  margin: 0 10px;
}
h1 {
  font-size: 25px;
  background-color: #273b47;
  color: #fff;
}
h2 {
  font-size: 18px; 
  background-color: #92c33e; 
}
.button {
  background: gray;
  /*border-bottom: 5px solid black;*/
  -webkit-box-shadow: inset 0 -5px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 -5px 0 rgba(0,0,0,.3);
  font-size: 14px;
  padding: 5px 10px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;
}
.button:active {
  -webkit-transform: scale(.9);
  transform: scale(.9);
}
.button.red {
  background: #ff4842;
}
.button.green {
  background: #92c33e;
}
.contenedor {
  height: 200vh;
  width: 800px;
  margin: 0 auto;
  text-align: center; 
}
.iphone {
  display: inline-block;
  margin-top: 150px;
  position: relative;
  transition: .1s;
}
.shape {
  height: 128px;
  width: 128px;
  background-image: url('../images/shape.jpg');
  position: absolute;
  top: 75px;
  right: 161px;
  background-position: -60px;
  -webkit-mask-image: url('../images/apple-mask.png'); 
  -moz-mask-image: url('../images/apple-mask.png'); 
  mask-image: url('../images/apple-mask.png'); 
}