html, body {
  height: 100%;
} 
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  
}
* {
  box-sizing: border-box;
}
body {
  font: 16px Sans-Serif;
}
h1 {
  margin: 10px 10px 20px 10px;
}
p {
  margin: 20px 0 0 10px;
}
footer {
  background: #74DF00;
  color: #1c3643;
  line-height: 50px;
  padding: 0 20px;
  font-weight: 800;
}
.contenedor {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}